/* stats-card.css */
/* .stats-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */
  
  /* .stats-item {
    text-align: center;
  } */
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  /* .info-icon {
    color: #3498db;
    font-size: 1.5em;
  } */

  .stats-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  .stats-item {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    margin-bottom: 16px; /* Add margin between items */
  }
  
  .info-icon {
    margin-top: 8px;
  }